%header.bar.bar-nav
  %a{:data =>{:transition=> 'slide-out'}, :href => "/", :class=>"icon icon-left-nav pull-left" }
  %h1.title Buttons
.content
  .content-padded
    -#Normal Buttons
    %button.btn.btn-block Block Button
    %button.btn.btn-block.btn-primary Block Button
    %button.btn.btn-block.btn-positive Block Button
    %button.btn.btn-block.btn-negative Block Button
    -#Outlined Buttons
    %button.btn.btn-block.btn-outlined Block Button
    %button.btn.btn-block.btn-outlined.btn-primary Block Button
    %button.btn.btn-block.btn-outlined.btn-positive Block Button
    %button.btn.btn-block.btn-outlined.btn-negative Block Button
