%header.bar.bar-nav
  %a{:data =>{:transition=> 'fade'}, :href => "/", :class=>"icon icon-left-nav pull-left" }
  %h1.title Slider Example
.content
  .slider
    .slide-group
      %div.slide
        %img{ :src => "img/slide01.jpg", :alt => "" }/
        %span.slide-text
          %span.icon.icon-left-nav
          Slide me
      %div.slide
        %img{ :src => "img/slide02.jpg", :alt => "" }/
      %div.slide
        %img{ :src => "img/slide03.jpg", :alt => "" }/
