%header.bar.bar-nav
  %a{:data =>{:transition=> 'slide-out'}, :href => "/", :class=>"icon icon-left-nav pull-left" }
  %h1.title Typography

.content
  .content-padded
    %h1 h1. Heading
    %h2 h2. Heading
    %h3 h3. Heading
    %h4 h4. Heading
    %h5 h5. Heading
    %h6 h6. Heading
    %p Sit exercitationem error eum illo soluta, fuga. Quia illum voluptate minima illum delectus. Error fugit mollitia dicta dolor rem. Tenetur neque at sunt nam in ad vel sit. Deserunt deserunt.
