/*Run Bower Install first before you enable this*/
/*@import "../../bower_components/pure/pure-min.css";*/
@import url(../../bower_components/ratchet/dist/css/ratchet.css);
@import url(../../bower_components/ratchet/dist/css/ratchet-theme-ios.min.css);
/* Enter your app SCSS here */
/* line 8, ../../scss/app.scss */
.slider .slide img {
  display: block;
  width: 100%;
  height: 570px;
}

/* line 14, ../../scss/app.scss */
.slider .slide-group .slide-text {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  font-size: 24px;
  color: #fff;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
